<div class="jumbotron">
<div class= "center">
  <h1 class="display-4">Hello, <%= @user.full_name.capitalize %></h1>
  <p class="lead">Create your events here: </p>
  <hr class="my-4">

  <div class="container">
    <a class="btn" href="#">Create Event</a>
    <a class="btn btn-secondary btn-sm" href="#">Edit Event</a>
    <a class="btn btn-secondary btn-sm" href="#">Cancel Event</a>
</div>